.upload-content {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.file-input {
    display: none;
}

.file-name {
    margin-right: 12px;
}

.button-flex {
    display: flex;
    align-items: center; 
}
  
.icon-margin {
    margin-right: 6px;
}