<div class="download-content">
  
  <mat-form-field class="form-field" appearance="fill">
    
    <mat-label>Monthly Payment Download Range:</mat-label>
    <mat-date-range-input
      [formGroup]="paymentsDateRange"
      [rangePicker]="paymentRange"
      [comparisonStart]="paymentsDateRange.value.start"
      [comparisonEnd]="paymentsDateRange.value.end">
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="paymentRange"></mat-datepicker-toggle>
    <mat-date-range-picker #paymentRange></mat-date-range-picker>
    
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="downloadLeases()">
    <div class="button-flex">
      <mat-icon class="icon-margin">cloud_download</mat-icon>
      <span>Download Leases</span>
    </div>
  </button>
</div>