.download-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.form-field {
  margin: 0 16px;
}

.button-flex {
  display: flex;
  align-items: center; 
}

.icon-margin {
  margin-right: 6px;
}

